<template name="register">
	<h1>Register Yourself</h1>
	<form class="form-inline" role="form" id="registerForm">
		<label>Email</label>
		<input type="email" placeholder="abc@xyz.com"  name="email" class="col-md-12" id="email">
		<label>Name</label>
		<input type="text" placeholder="Name"  name="name" class="col-md-12" id="name">
		<label>Phone</label>
		<input type="number" placeholder="xxxxxxxxxx"  name="username" class="col-md-12" id="username">
		<label>Password</label>
		<input type="password" placeholder="******"  name="password" class="col-md-12" id="password">
		<label>Confirm Password</label>
		<input type="password" placeholder="******"  name="confirmpassword" class="col-md-12" id="confirmpassword">
		<input type="submit" name="Submit" value="Submit">
		<a href="/">Login</a>
	</form>
</template>

<template name="login">
	<h1>Login</h1>
	<form class="form-inline" role="form" id="loginForm">
		<label  class="col-md-6">Email or phone</label>
		<input type="text" name="username"  placeholder="Login Id"  class=" form-control col-md-6" id="username">
		<label  class="col-md-6">Password</label>
		<input type="password" placeholder="******" name="password" class=" form-control col-md-6" id="password">
		<input class="btn btn-default" type="submit" name="Submit" value="Submit">
		<a href="/registration">Register</a>
	</form>
</template>